@import "ui-variables";

.scroll-map {
  position: absolute;
  top: 0px;
  right: 3px;
  z-index: 9;
  width: 4px;
  bottom: 10px;

  .scroll-item {
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    background-color: red;
    cursor: default;

    &.find-item {
      background-color: @ui-site-color-2;
    }
  }
}
