// default values
@scrollbar-width: 8px;
@scrollbar-edge-offset: 1px;
@scrollbar-marker-width-left: 2px;
@scrollbar-marker-width-center: 4px;
@scrollbar-marker-width-right: 2px;

@import "ui-variables";

.scroll-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: @scrollbar-width;
  z-index: 9;
  pointer-events: none;

  .scroll-item {
    position: absolute;
    left: @scrollbar-edge-offset;
    right: @scrollbar-edge-offset;
    margin: 0 auto;
    width: @scrollbar-marker-width-center;
    opacity: 0.5;
    pointer-events: auto;
    transform: translateY(-50%);
    min-height: 2px;
    height: var(--scroll-marker-height);
    cursor: default;

    // cursor layer
    &.cursor-layer {
      background-color: @text-color-subtle;
      z-index: 18;
    }

    // highlight layer
    &.highlight-layer {
      background-color: @syntax-result-marker-color-selected;
      z-index: 17;
    }

    // find layer
    &.find-layer {
      background-color: @ui-site-color-2;
      z-index: 16;
    }

    // linter layer (right side)
    &.linter-layer {
      left: auto;
      right: @scrollbar-edge-offset;
      width: @scrollbar-marker-width-left;
      z-index: 15;
      &.error   { background-color: @text-color-error; }
      &.warning { background-color: @text-color-warning; }
      &.info    { background-color: @text-color-info; }
    }

    // navi layer
    &.navi-layer {
      background-color: @ui-site-color-3;
      z-index: 14;
    }

    // hydrogen layer
    &.hydrogen-layer {
      background-color: @ui-site-color-4;
      z-index: 13;
    }

    // diff layer
    &.diff-layer {
      z-index: 12;
      &.added   { background-color: @text-color-success; }
      &.removed { background-color: @text-color-error; }
    }

    // git layer (left side)
    &.git-layer {
      right: auto;
      left: @scrollbar-edge-offset;
      width: @scrollbar-marker-width-right;
      z-index: 11;
      &.added    { background-color: @text-color-success; }
      &.modified { background-color: @text-color-warning; }
      &.removed  { background-color: @text-color-error; }
    }
  }
}
